/** ----------------------------------------
* Callout Icon
* -------------------------------------- **/

// VARIABLES

/* -------------------------------------- **/
.callout-icon {
	margin: 0;
	padding: 20px 0;
	.callout {
		background: #cccccc;
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 20px;
		text-align: center;
		.icon {
			.fa {
				background: #ffffff;
				box-sizing: content-box;
				display: inline-block;
				font-size: 30px;
				height: 30px;
				padding: 30px;
				width: 30px;
				&.round {
					border-radius: 50%;
				}
			}
		}

		.btn {
			display: inline-block;
			margin: 0 auto;
		}

		.align-bottom {
			margin-top: auto;
			align-self: flex-end;
		}
	}
}
