/** ----------------------------------------
* Gallery
* -------------------------------------- **/
// VARIABLES

.gallery-archive {
  &> .container > .row-flex {
    flex-wrap: wrap;
  }
  &> .container > .row-flex > div {
    margin-bottom: 20px;

    article {
      width: 100%;
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  }
}

.post-type-archive-dscphoto {
  .page-intro {
    //margin-bottom: 50px;
  }
}

.gallery-component {
  h6 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  a h6:after {
     content: ' >';
  }
  .single-gallery-image a,
  .archive-image a.img {
    display: block;
    margin-bottom: 15px;
    position: relative;


    &:before, &:after {
      position: absolute;
      display: block;
      top: 10px;
      left: 10px;
      width: 0;
      height: 0;
      border: 1px solid transparent;
      opacity: 0.4;
      content: ' ';
    }
    &:before {
      top: 10px;
      left: 10px;
    }
    &:after {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
    &:hover:before,
    &:hover:after {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    &:hover:before {
      border-top-color: #DEDEDE;
      border-right-color: #DEDEDE;
      -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
    }
    &:hover:after {
      border-bottom-color: #DEDEDE;
      border-left-color: #DEDEDE;
      -webkit-transition: height 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
      transition: height 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
    }
  }
}

.tax-featured-image {
  margin-bottom: 50px;
}

.gallery-filter-wrap,
.news-filter-wrap {
  text-align: center;
  font-size: 15px;
  color: #00374D;
  margin-bottom: 50px;
  .filter-icon {
    width: 33px;
    height: 29px;
    display: inline-block;
    position: relative;
    top: 9px;
    margin-right: 12px;
  }
  .filter-label {
    display: inline-block;
  }
  .select2-container {
    display: inline-block;
    width: calc(40% - 33px - 60px) !important;
    margin: 0 1%;
  }
  a.clear-filters {
    font-weight: normal;
    margin-right: 12px;
    &.hide-me {
      opacity: 0;
    }
  }
}

.select2-container {
  .select2-selection {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius:0;
    border-color: #00374D;
    text-align: left;
    font-size: 15px;
    padding: 5px;
    height: 40px;
    .select2-selection__arrow {
      top: 4px;
      right: 10px;
      b {
        border-color: #00374D transparent transparent transparent;
        border-width: 10px 7px 0 7px;
      }
    }
    .select2-selection__rendered {
      color: #00374D;
    }
  }
}
@media( max-width: $screen-sm-max ) {
  .gallery-filter-wrap {
    .filter-icon {
      width: 45%;
      text-align: right;
    }
    .filter-label {
      width: 45% !important;
      text-align: left;
    }
    .select2-container {
      width: 45% !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    a.clear-filters {
      width: 100%;
      display: inline-block;
    }
  }

  .news-filter-wrap {
    .select2-container {
      width: 60% !important;
    }
  }
}

@media( max-width: $screen-xs-max ) {

  .news-filter-wrap {
    .select2-container {
      margin-top: 25px;
      width: 100% !important;
    }
  }
}


/**
SVG Animations
 */
.filter-first-circle {
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: move1stCircle;
}
.filter-second-circle {
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: move2ndCircle;
  animation-play-state: running;
}
.filter-third-circle {
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: move3rdCircle;
}
@keyframes move1stCircle {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(-5px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes move2ndCircle {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(10px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes move3rdCircle {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(-15px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}