/** ----------------------------------------
* Component Name
* -------------------------------------- **/
// VARIABLES
$video-play-height-desktop: 81px;
$video-play-width-desktop:  81px;
$video-play-height-mobile:  50px;
$video-play-width-mobile:   50px;
/* -------------------------------------- **/

section.content-video {
    padding: 50px 0;

    h4 {
        font-size: 12px;
        font-weight: $font-weight-semibold;
    }

    .magnific-video {
        align-items: center;
        background-size: cover;
        display: flex;
        height: 410px;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;

        .play-button {
            transition: all 0.35s ease;
            transform: scale3d(1, 1, 1);
        }

        &:focus {
            outline-color: $brand-gold;
        }

        &:hover {
            .play-button {
                transform: scale3d(1.15, 1.15, 1);
            }
        }
    }

    @media( max-width: $screen-xs-max ) {

        .magnific-video {
            height: 250px;

            .play-button {
                transition: none;
                transform: scale3d(0.85, 0.85, 1);
            }

            &:hover {
                .play-button {
                    transform: scale3d(0.85, 0.85, 1);
                }
            }
        }
    }
}