/** ----------------------------------------
* Component Name
* -------------------------------------- **/
// VARIABLES

/* -------------------------------------- **/

section.logo-grid {

    .intro {
        margin-bottom: 60px;
    }

    .row-flex {
        justify-content: space-around;
    }

    .logo-item {
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;

        img {
            flex: 0 0 auto;
            margin: 0 auto;
        }
    }
}