/** ----------------------------------------
* Sitemap
* -------------------------------------- **/
// VARIABLES


/* -------------------------------------- **/


body.sitemap {
    .content-item {

        .heading,
        .heading a {
            font-weight: 400;
        }

        p {
            display: none;
        }

        > li {
            list-style: none;
        }

        ul {
            padding-left: 20px;

             li {
                 line-height: 1.35;

                 a {
                     //color: $brand-primary;
                     font-size: 16px;
                     font-weight: 400;
                 }
             }

        }

    }
}

@media ( max-width: $screen-md-max ) {

}

@media ( max-width: $screen-sm-max ) {

}

@media ( max-width: $screen-xs-max ) {

}
