/** ----------------------------------------
* Hero Image Slider
* -------------------------------------- **/

// VARIABLES
$slider_height: 300px;

/* -------------------------------------- **/

.hero-image_slider {

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

}

.sky-carousel {
    max-height: $slider_height;
    overflow: hidden;

    .item {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

    .owl-controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .owl-prev,
        .owl-next {
            position: absolute;
            left: 20px;
            top: -150px;
        }
        .owl-next {
            left: auto;
            right: 20px;
        }

        .owl-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;

            .owl-dot {
                margin: 0 5px;
                display: inline-block;
                & > span {
                    display: inline-block;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;
                    width: 10px;
                    height: 10px;
                    background-color: #000;
                }
                &.active {
                    & > span {
                        background: #00B3EE;
                    }
                }
            }
        }
    }

}
