/** ----------------------------------------
* Footer
* -------------------------------------- **/

// VARIABLES
$form-bg-color: #fff;
$form-placeholder-color: $brand-primary;
$form-input-border: $brand-primary;
$form-input-color: $brand-primary;
/* -------------------------------------- **/

.gform_wrapper {
    max-width: 100%;
    background-color: $form-bg-color;
    //padding: 20px;
    color: #8C1416;

    &.gf_browser_gecko .gfield select {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'><path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/></svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }

    img {
        max-width: none;
        width: auto;
    }

    form {
        position: relative;
    }

    .gform_footer {
        padding-top: 0 !important;
        margin-top: 0 !important;

        input[type=submit] {
            @extend .btn;
            @extend .btn-primary;

            font-size: 12px !important;
            padding: 0;
            margin: 0;
        }
    }

    .gfield {
        margin-bottom: 20px;

        &.hidden_label {
            input {
                margin-top: 0;
            }
        }

        input, textarea, select {
            background: $form-bg-color;
            border: 1px solid $form-input-border;
            width: 100% !important;
            color: $form-input-color;
            padding: 7px 5px !important;
            height: 41px;
            font-size: 15px !important;
            border-radius: $input-border-radius !important;
        }

        input, textarea {
            &:focus {
                outline: 0;
            }
        }

        // remove border radius
        select {
            border: 0;
            outline: 1px solid $form-input-border;
        }

        textarea {
            height: 100px !important;
        }

        input::-webkit-input-placeholder {
            color: $form-placeholder-color !important;
        }
        input:-moz-placeholder { /* Firefox 18- */
            color: $form-placeholder-color !important;
        }
        input::-moz-placeholder { /* Firefox 19+ */
            color: $form-placeholder-color !important;
        }
        input:-ms-input-placeholder {
            color: $form-placeholder-color !important;
        }
        textarea::-webkit-input-placeholder {
            color: $form-placeholder-color !important;
        }
        textarea:-moz-placeholder { /* Firefox 18- */
            color: $form-placeholder-color !important;
        }
        textarea::-moz-placeholder { /* Firefox 19+ */
            color: $form-placeholder-color !important;
        }
        textarea:-ms-input-placeholder {
            color: $form-placeholder-color !important;
        }
    }

    li.gfield.gfield_error,
    li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        // remove ugly pink bg & borders from error fields
        background-color: transparent !important;
        border-top: none !important;
        border-bottom: none !important;

        &.field_description_below .gfield_description {
            padding-top: 5px;
        }

        .validation_message {
            font-size: 12px;
            font-weight: $font-weight-regular;

        }

        &.gfield_contains_required  {
            div.ginput_container,
            label.gfield_label {
                margin-top: 0 !important;
            }
        }

        +li.gfield.gfield_error {
            margin-top: 0 !important;
        }
    }

    // hide the spinner - it's never positioned correctly
    img.gform_ajax_spinner {
        display: none!important;
    }
}