/** ----------------------------------------
* Hero Image
* -------------------------------------- **/

// VARIABLES
$image-height-xs: 160px;
$image-height-ms: 300px;
$image-height-sm: 380px;
$image-height-md: 520px;
$image-height-lg: 610px;
$image-height-xl: 660px;
/* -------------------------------------- **/

section.hero-image {
	height: $image-height-xs;
	overflow: hidden;
	position: relative;

	top: -141px;
	//margin: 0 auto -141px; // TODO: Get header height from header vars
	margin: 0 auto -61px;


	img.hero-image {
		max-width: 100%;
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-width: 100%;
		margin: auto;
	}

	img.hero-badge {
		position: absolute;
		bottom: 25px;
		right: 25px;
	}

	@media( max-width: $grid-float-breakpoint-max ) {
		top: auto;
		margin-bottom: 45px;
	}

	@media( max-width: $screen-xs-max ) {
		img.hero-badge {
			max-width: 30px;
			bottom: 10px;
			right: 10px;
		}
	}

	@media( min-width: $screen-ms-min ) {
		height: $image-height-ms;
	}

	@media( min-width: $screen-sm-min ) {
		height: $image-height-sm;
	}

	@media( min-width: $screen-md-min ) {
		height: $image-height-md;
	}

	@media( min-width: $screen-lg-min ) {
		height: $image-height-lg;
	}

	@media( min-width: 1400px ) {
		height: $image-height-xl;
	}
}
