/** ----------------------------------------
* Hero Image Small
* -------------------------------------- **/

// VARIABLES
$hero-small-height-xs: 100px;
$hero-small-height-sm: 150px;
$hero-small-height-md: 200px;

/* -------------------------------------- **/

.hero-image_small {
    height: $hero-small-height-md;
    overflow: hidden;
    position: relative;
    margin-right: auto;
    margin-left: auto;

    & > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        height: auto;
        margin: auto;
        vertical-align: middle;
    }

    &.va-center > img {}
    &.va-top > img {
        top: 0;
        bottom: auto;
    }
    &.va-bottom > img {
        top: auto;
        bottom: 0;
    }

    @media (max-width: $screen-sm-max) {
        height: $hero-small-height-sm;
    }

    @media (max-width: $screen-xs-max) {
        height: $hero-small-height-xs;
    }

}