/** ----------------------------------------
* Property Details
* -------------------------------------- **/
// VARIABLES

/* -------------------------------------- **/

section.property-details {
    margin: 50px 0;

    .gold-heading {
        margin-bottom: 8px;
        margin-top: 10px;

        @media( max-width: $screen-xs-max ) {
            margin-top: 34px;
        }
    }
}

// also used in property-credits

.gold-heading {
    font-family: $font-family-serif;
    text-transform: none;
    color: $brand-gold;
}

// also used in property-credits
.prop-list {
    color: $brand-primary;
    font-size: $font-size-base - 1;
    font-weight: $font-weight-light;
    margin-bottom: 0;

    li {
        border-bottom: 1px solid $brand-gray-light;
        padding: 8px 0;
    }

    a {
        font-weight: $font-weight-light;

        &:hover,
        &:active,
        &:focus {
            color: $link-color;
        }
    }

    .st_sharethis_large .stButton .stLarge {
        color: $brand-gold;
    }
}
