/** ----------------------------------------
* Header
* -------------------------------------- **/

// VARIABLES
$logo-height-desktop: 	96px; // height of the logo
$logo-height-mobile: 	55px;
$logo-height-tablet: 	85px;
$logo-margin-desktop: 	17px; // top/bottom margin for the logo
$logo-margin-mobile: 	8px;

$header-height-desktop: ($logo-height-desktop + ($logo-margin-desktop * 2)); // calculate the header height
$header-height-mobile: 	($logo-height-mobile + ($logo-margin-mobile * 2)); // calculate the header height

// navbar default height is 50px
$navbar-margin-desktop:	 25px; // ($header-height - 50) / 2; // calculate top/bottom margin for the navbar
$navbar-margin-mobile: 	($header-height-mobile - 50) / 2;

// 35px is the height of the toggle button
$nav-toggle-margin: 	($header-height-mobile - 35px) / 2; // calculate top/bottom margin for the toggle
$nav-toggle-width: 		44px; // width of the nav toggle button BEFORE font loading. w/o MENU is 44px

/* -------------------------------------- **/

.header-light {

	.navbar-bg {
		display: none;
	}

	.navbar-inverse .navbar-nav > li > a {
		font-weight: 300;
		transition: opacity 0.3s ease;

		&:hover {
			font-weight: 600;
			letter-spacing: -0.5px;
			opacity: 0.8;

			//text-shadow: 0 0 0.5px #333;
		}
		//&:after {
		//	display: block;
		//	content: attr(title);
		//	font-weight: 600;
		//	height: 0;
		//	overflow: hidden;
		//	visibility: hidden;
		//}
	}

	.navbar-default .navbar-nav {

		> li > a {
			font-weight: 300;

			&:hover {
				font-weight: 600;
				letter-spacing: -0.5px;

				//color: $brand-gray-light;
				//text-shadow: 0 0 1px $brand-primary;
			}
		}

		.active a {
			font-weight: 600;
			letter-spacing: -0.5px;
		}

	}

	#menu-utility-menu > li > a {
		letter-spacing: normal !important;
	}



	img.brand-img {
		margin-top: $logo-margin-desktop;
		margin-bottom: $logo-margin-desktop;
	}

	nav.main-nav {
		margin-bottom: 0;
	}

	ul.navbar-nav {
		margin-top: $navbar-margin-desktop;
		//margin-bottom: $navbar-margin;
	}

	@media ( max-width: $screen-sm-max ) {
		img.brand-img {
			max-height: $logo-height-tablet;
		}
	}

	@media (max-width: $grid-float-breakpoint-max) {

		img.brand-img {
			max-height: $logo-height-mobile;
			margin-left: 0;
			margin-top: $logo-margin-mobile;
			margin-bottom: $logo-margin-mobile;
		}

		ul.navbar-nav {
			margin-top: $navbar-margin-mobile;
		}

		.navbar-nav > li {

			> a {
				padding: 0 18px;
				color: $navbar-inverse-link-color;

				&,
				&:hover,
				&:focus {
					color: $navbar-inverse-link-color;
					font-weight: $font-weight-regular;
				}
			}

			&.current-menu-ancestor,
			&.active {
				> a,
				> a:hover,
				> a:focus {
					font-weight: $font-weight-regular;
					color: $navbar-inverse-link-color;
				}
			}

			.has-children-icon:after {
				content: '+';
			}

			&.dropdown.open {
				.has-children-icon:after {
					content: '-';
				}

				> a {
					&,
					&:hover,
					&:focus {
						color: $navbar-inverse-link-color;
					}
				}

				.dropdown-menu > li > a {
					padding: 0 0 0 36px;

					&,
					&:hover,
					&:focus {
						color: $navbar-inverse-link-color;
					}
				}
			}
		}

		// submenus
		.dropdown-menu {
			padding: 0;
		}
	}
}

.header-dark {

	nav.main-nav {
		background: #000;
		border-color: #000;
	}
}

.has-alt-logo {

	.alt-logo {
		max-width: 150px;
	}

	.site-logo {
		display: none;
	}
}

.nav-primary {
	margin-top: 2px;

	li > a {
		font-size: 15px;
	}
}

.header-light .navbar-default .navbar-nav > li > a {
	//padding-left: 21px;
	//padding-right: 21px;
	white-space: nowrap;
	&:hover {
		white-space: nowrap;
	}
}

.navbar-toggle {

	margin-top: $nav-toggle-margin;
	margin-right: 0;

	.icon-wrap {
		float: left;
	}

	.icon-bar {
		transition: all 0.2s;

		&.top-bar {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
		}
		&.middle-bar {
			opacity: 0;
		}
		&.bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
		}

	}

	&.collapsed {

		.icon-bar {

			&.top-bar {
				transform: rotate(0deg);
			}

			&.middle-bar {
				opacity: 1;
				width: 80%;
			}

			&.bottom-bar {
				width: 60%;
				transform: rotate(0deg);
			}
		}
	}

	.menu {
		float: left;
		margin-right: 6px;
		line-height: 15px;
		text-transform: uppercase;
	}

}

// white bg and blue close icon when mobile menu is open
.mobile-menu-open {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	#menu-main-menu > li {
		opacity: 1 !important;
	}


	.navbar {
		background-color: #fff;
	}

	.navbar-inverse {

		.navbar-toggle .icon-bar {
			background-color: $navbar-default-toggle-icon-bar-bg;
		}
	}
}




@media (max-width: $grid-float-breakpoint-max) {

	.navbar-mobile-default .navbar-toggle .icon-bar {
		background-color: $brand-primary;
	}

	body.mobile-menu-open {
		padding-top: 72px;
	}

	.mobile-menu-open .navbar-bg {
		display: block;

		background: $brand-primary;
		height: 100%;
		opacity: 0.75;
		position: fixed;
		top: 71px;
		width: 100%;
		z-index: 99;
	}

	.has-alt-logo {

		.site-logo {
			display: block;
		}

		.alt-logo {
			display: none;
		}

	}

	&.slide-left {
		background: $brand-primary;
		border: none;
		height: 100% !important;
		margin: 1px 0 0 0;
		z-index: 100;
	}

}

@media( min-width: $grid-float-breakpoint ) {

	img.brand-img {
		margin-left: 15px;
	}

	.flex {
		display: flex;
		flex: 0 auto;
	}

	.nav-primary {
		flex: 1 1 auto;

		.navbar-nav {
			float: none;
			display: flex;
			justify-content: center;
		}

		.has-children-icon {
			display: none;
		}

		// dropdown links
		.dropdown-menu > li {

			border-top: 1px solid rgba( #f5f5f5, .23 );

			&:first-child {
				border-top: none;
			}

			> a {
				font-size: 13px;
				font-weight: $font-weight-light;
			}

			&.active {

				a {
					&,
					&:active,
					&:hover,
					&:focus {
						font-weight: $font-weight-semibold;
					}
				}
			}
		}

	}

	// contact link
	.header-light .nav-utility {
		li > a {
			font-weight: 600;
			transition: opacity 0.35s ease;

			&:hover {
				opacity: 0.5;
			}
		}

		.navbar-nav {
			> li > a {
				font-size: 10px;
				font-weight: $font-weight-semibold;
				text-transform: uppercase;

				&:hover,
				&:focus {
					//font-weight: $font-weight-bold;
				}
			}
			> .current-menu-ancestor > a,
			> .active > a {
				&,
				&:hover,
				&:focus {
					//font-weight: $font-weight-bold;
				}
			}
		}
	}
}

.home header .nav-primary,
.home header .nav-utility {
	//animation-delay: 2s;
	//animation-timing-function: ease-in;
	//animation-duration: 1000ms;
	//animation-iteration-count: 1;
	//animation-name: fadeInHeader;
	//animation-fill-mode: forwards;
	//opacity: 0;
}
@keyframes fadeInHeader {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.mobile-only,
.nav > li.mobile-only,
.nav > li .mobile-only {
	display: none;
	@media (max-width:767px) {
		display: block;
	}
}
