/** ----------------------------------------
* Single Team Member
* -------------------------------------- **/
// VARIABLES


/* -------------------------------------- **/

body.single-teammember {
    article.teammember {
        header {
            margin: 0 0 75px 0;

            .heading {
                color: $brand-gray-medium;
            }

            .profile-title {
                color: $brand-gray-medium;
                font-size: 16px;
                text-align: center;
                text-transform: capitalize;

                &:after {
                    display: none;
                }
            }
        }
        .profile-image {
            //@extend .alignleft;

            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            margin: 15px 50px 35px 0;
            height: 265px;
            width: 265px;
        }

        p:first-of-type {

            @extend .dropcap;
        }

        p {
            @extend .lead;
            color: $brand-gray-medium;
            //font-size: 20px;
        }

    }
}


@media ( max-width: $screen-md-max ) {

}

@media ( max-width: $screen-sm-max ) {

    body.single-teammember {
        article.teammember {
            header {
                margin: 0 0 75px 0;

                .heading {
                }

                .profile-title {
                    font-size: 16px;
                }
            }
            .profile-image {
                float: none;
                margin: 15px auto 35px;
            }

            p:first-of-type {
            }

            p {
            }

        }
    }

}

@media ( max-width: $screen-xs-max ) {

}