/** ----------------------------------------
* Team Grid
* -------------------------------------- **/
// VARIABLES


/* -------------------------------------- **/

section.team-grid {

    .team-member {
        margin-bottom: 85px;

        .member-link {
            background-repeat: no-repeat;
            background-size: cover;
            height: 265px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 20px 0;
            position: relative;

            &:before {
                background-color: rgba(0,55,77,0.8);
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;

                opacity: 0;
                transition: opacity 0.5s ease;
            }

            .name {
                color: #fff;
                font-family: $font-family-sans-serif;
                font-size: 22px;
                font-weight: 600;
                line-height: 1.3;
                margin: 0;
                opacity: 0;
                position: relative;
                text-align: center;
                width: 100%;
                z-index: 10;

                transition: opacity 0.5s ease;

                &:after {
                    display: none;
                }
            }

            .bio-link {
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                line-height: 2.3;
                opacity: 0;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                z-index: 10;

                transition: opacity 0.5s ease;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }

                .name {
                    opacity: 1;
                }

                .bio-link {
                    opacity: 1;
                }
            }
        }

        .member-footer {
            .name {
                color: $brand-primary;
                font-family: $font-family-sans-serif;
                font-size: 12px;
                font-weight: 600;
                line-height: 2.4;
                margin: 0 0 0 0;
                text-align: center;
                text-transform: uppercase;

                &:after {
                    display: none;
                }
            }
            .role {
                color: $brand-primary;
                font-family: $font-family-sans-serif;
                font-size: 12px;
                font-weight: 600;
                height: 35px;
                margin: 0 0 0 0;
                text-align: center;

                &:after {
                    display: none;
                }
            }
        }
    }

}

@media ( max-width: $screen-md-max ) {

}

@media ( max-width: $screen-sm-max ) {

}

@media (max-width: $screen-sm-min) {
    section.team-grid {
        .team-member {
            margin-bottom: 35px;
            .member-link {
                max-width: 360px;
                margin: 0 auto;
            }
        }
    }
}

@media ( max-width: $screen-xs-max ) {

    section.team-grid {
        .team-member {
            margin-bottm: 35px;

            .member-link {
                height: 285px;
                //margin: 0 0 20px 0;

                &:before {
                }

                .name {
                    //font-size: 22px;
                    //line-height: 1.3;
                }

                .bio-link {
                    //font-size: 13px;
                    //line-height: 2.3;
                }
            }

            .member-footer {
                .name {
                    //font-size: 12px;
                    //font-weight: 600;
                    //line-height: 2.4;
                }
                .role {
                    //font-size: 12px;
                    //font-weight: 600;
                }
            }
        }
    }

}