/** ----------------------------------------
* Search Template
* -------------------------------------- **/
.search {
	padding: 20px 0;

	.meta {
		margin-bottom: 20px;
	}

	.read-more {

	}

	.search-entry {
		border-bottom: 1px solid $gray-lighter;
		margin-bottom: 20px;
		padding-bottom: 20px;

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}
