/** ----------------------------------------
* Hero Image Large
* -------------------------------------- **/

// VARIABLES
$image-height-xs: 400px;
$image-height-ms: 500px;
$image-height-sm: 700px;
$image-height-md: 800px;
$image-height-lg: 900px;
/* -------------------------------------- **/

.hero-image_large {
	overflow: hidden;
	position: relative;

	top: -141px;
	//margin: 0 auto -141px; // TODO: Get header height from header vars
	margin: 0 auto -61px;

	.hero-image-bg {
		height: 95vh;
		min-height: $image-height-lg;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;

		@media( max-width: $screen-md-max ) {
			min-height: $image-height-md;
		}

		@media( max-width: $screen-sm-max ) {
			min-height: $image-height-sm;
		}

		@media( max-width: $screen-ms-max ) {
			min-height: $image-height-ms;
		}

		@media( max-width: $screen-xs-max ) {
			min-height: $image-height-xs;
		}
	}

	.hero-image-caption {
		color: #fff;
		padding-top: 15%;

		h1 {
			/*animation-delay: 500ms;
			animation-timing-function: ease-in;
			animation-duration: 1000ms;
			animation-iteration-count: 1;
			animation-name: fadeInHeader;
			animation-fill-mode: forwards;
			opacity: 0;*/
		}


		.hero-image-text {
			font-weight: $font-weight-light;
			font-size: 20px;

			@media( max-width: $screen-ms-max ) {
				font-size: 16px;
			}

			/*animation-delay: 1s;
			animation-timing-function: linear;
			animation-duration: 500ms;
			animation-iteration-count: 1;
			animation-name: slideDown;
			animation-fill-mode: forwards;
			opacity: 0;*/
		}

		@media( max-width: $screen-sm-max ) {
			padding-top: 20%;
		}

		@media( max-width: $grid-float-breakpoint-max ) {
			padding-top: 90px;
		}
	}

	.hero-jump-link {
		position: absolute;
		width: 100%;
		bottom: 20px;
		text-align: center;

		animation-delay: 4s;
		animation-timing-function: ease-in;
		animation-duration: 500ms;
		animation-iteration-count: 2;
		animation-name: arrowBounce;

		span {
			width: 36px;
			height: 36px;
			font-size: 36px;
			color: #fff;

			@media( max-width: $screen-ms-max ) {
				width: 26px;
				height: 26px;
				font-size: 26px;
			}
		}
	}

	h1 {
		color: #fff;
		letter-spacing: 0.4px;
		margin-bottom: 0;

		&:after {
			background: #fff;
		}
	}

	@media( max-width: $grid-float-breakpoint-max ) {
		top: -72px;
		//margin: 0 auto -72px; // TODO: Get header height from header vars
		margin: 0 auto -42px; // TODO: Get header height from header vars
	}
}

@keyframes fadeInHero {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes slideDown {
	0% {
		transform: translateY(-40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes arrowBounce {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-20%);
	}
	100% {
		transform: translateY(0%);
	}
}