/** ----------------------------------------
* Image Slider
* -------------------------------------- **/
// VARIABLES

// VARIABLES
$image-slider-height: 726px;
/* -------------------------------------- **/

.image-slider {

    margin: 50px 0;

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .dsc-image-carousel-wrapper {
        margin-bottom: 60px;
        position: relative;
    }
}

.dsc-image-carousel {

    .owl-stage-outer {
        max-height: $image-slider-height;
    }

    .item {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

    .owl-controls {

        .owl-prev,
        .owl-next {
            position: absolute;
            left: -65px;
            top: 50%;
            margin-top: -35px; // height of item
            color: $brand-primary;
            font-size: 35px;
            transition: color 0.35s ease;

            &:hover {
                color: $brand-gold;
            }

        }
        .owl-next {
            left: auto;
            right: -65px;
        }

        @media( max-width: 1269px ) {
            .owl-prev,
            .owl-next {
                top: auto;
                margin-top: 0;
                bottom: -55px;
                font-size: 25px;
                z-index: 10;
            }

            .owl-prev {
                left: 0;
            }
            .owl-next {
                right: 0;
            }
        }

        @media( max-width: $screen-xs-max ) {
            .owl-prev,
            .owl-next {
                display: none;
            }
        }

        .owl-dots {
            position: absolute;
            bottom: -45px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;

            .owl-dot {
                margin: 0 5px;
                display: inline-block;
                & > span {
                    display: inline-block;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;
                    width: 10px;
                    height: 10px;
                    background-color: transparent;
                    border: 1px solid $brand-primary;
                }
                &.active {
                    & > span {
                        background: $brand-primary;
                    }
                }
            }
        }
    }

}
