/** ----------------------------------------
* Content 2 Column w Image
* -------------------------------------- **/
// VARIABLES

/* -------------------------------------- **/

section.content-2col-image {
    padding: 50px 0;

    .image-col {

        img {
            &.aligncenter,
            &.alignleft,
            &.alignright,
            &.alignnone {
                margin-bottom: 0;
            }
        }
    }

    @media ( max-width: $screen-sm-max ) {

        .image-col {

            img {
                &.aligncenter,
                &.alignleft,
                &.alignright,
                &.alignnone {
                    float: none;
                    margin: 30px auto 0;
                }
            }
        }

    }

    @media( min-width: $screen-md-min ) {

        .flex-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .image-col {

            img {
                &.aligncenter,
                &.alignleft,
                &.alignright,
                &.alignnone {
                    margin-top: 0;
                }
            }
        }
    }
}