/** ----------------------------------------
* Footer
* -------------------------------------- **/
// VARIABLES
$footer-background: $navbar-default-bg;
$footer-border-color: $navbar-default-border;
$footer-color: $brand-primary;
$footer-link-color: $link-color;
/* -------------------------------------- **/

.footer {
	background-color: $footer-background;
	border: 1px solid $footer-border-color;
	color: $footer-color;
	margin-top: 0;
	padding: 20px 0 20px;
	font-size: 14px;

	.footer-top {

		a {
			color: $footer-link-color;
			font-weight: $font-weight-regular;

			&:hover,
			&:focus,
			&:active {
				color: $brand-gold;
			}
		}
	}
}

#menu-footer-main {
	margin-bottom: 24px;
}

.connect-row {
	display: table;
	width: 100%;

	> div {
		padding: 10px 0;

		a[href*="tel"]:hover {
			color: inherit;
			cursor: text;
			transition: none;
		}

		a[href*="tel"],span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.social {

	a {
		padding: 0 5px;
	}

	.fa {
		font-size: 22px;
		vertical-align: middle;
	}
	// special hacking for instagram
	.fa-stack {
		font-size: 22px;
		width: 1em;
		height: 1em;
		line-height: 1em;
	}
	.fa-instagram.fa-inverse {
		font-size: 1.1em;
	}

}

.st_sharethis_large .stButton .stLarge {
	height: 22px;
	width: 16px;

	&:before {
		font-size: 16px;
	}

	&:hover,
	&:focus,
	&:active {
		color: $brand-gold;
	}
}

.footer-bottom {
	color: $brand-gray-dark;
	font-size: 10px;

	a {
		color: $brand-gray-dark;
		font-weight: $font-weight-regular;

		&:hover,
		&:focus,
		&:active {
			color: $brand-gold;
		}
	}

	.border-top {
		border-top: 1px solid rgba( $brand-gray-dark, .35 );
		margin-top: 25px;
		padding-top: 25px;

		> div,
		> ul {
			display: inline-block;
		}

		.list-inline {
			margin-left: -18px;

			li {
				padding-left: 18px;
				padding-right: 18px;
			}
		}
	}
}

@media( min-width: $screen-sm-min ) {
	.connect-row {
		display: table;
		width: 100%;

		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.footer-bottom {
		.border-top {
			padding-top: 15px;
		}
	}

	#menu-footer-bottom.list-inline {
		margin-left: -5px;
	}
}

@media( min-width: $screen-lg-min ) {
	.copyright {
		margin-left: 20px;
	}
}


#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: $brand-gold;
	background: rgba(209, 178, 117, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 6px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: rgba(209, 178, 117, 0.9);
}
#return-to-top:hover i {
	color: #fff;
	top: 0px;
}