/** ----------------------------------------
* Blog
* -------------------------------------- **/

/* -------------------------------------- **/

.blog-component {
	padding: 20px 0;
}

.meta,
.meta-author {
	margin-bottom: 20px;
}

.sidebar {
	.widget {
		margin-bottom: 20px;
	}
}
