/** ----------------------------------------
* News / Blog
* -------------------------------------- **/
// VARIABLES


/* -------------------------------------- **/

body.blog,
body.category {

    article.type-post {
        border: 1px solid $brand-gray-light;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        .post-featured {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 280px;
            width: 40%;
        }

        .entry-summary {
            padding: 25px 15px 0 25px;
            width: 60%;

            h3.title,
            .categories {
                color: $brand-primary;
                font-family: $font-family-serif;
                font-size: 12px;
                font-weight: normal;
                line-height: 2.4;
                text-transform: uppercase;
            }

            p {
                color: $brand-primary;
                font-size: 16px;
                line-height: 1.8125;
                margin: 0;
                //text-transform: capitalize;
            }
        }

    }

}

body.blog {
    .news-filter-wrap a.clear-filters {
        display: none;
    }
}


/// Add hover effect for all un-selected articles for desktop only
@media ( min-width: $screen-md ) {
    body.blog,
    body.category {
        .news-grid {
            .hover-fade {
                opacity: 0.5 !important;
            }
        }
    }
}


@media ( max-width: $screen-md-max ) {

}

@media ( max-width: $screen-sm-max ) {

    body.blog {
        article.type-post {
            flex-wrap: wrap;
            margin-bottom: 25px;

            .post-featured {
                height: 460px;
                width: 100%;
            }

            .entry-summary {
                height: 240px;
                padding: 25px 15px 0 25px;
                width: 100%;

                .categories {
                }

                p {
                }
            }

        }
    }

}

@media ( max-width: $screen-xs-max ) {

    body.blog {

        article.type-post {
            .post-featured {
                height: 450px;
            }

            .entry-summary {
                height: auto;
                //padding: 25px 15px 0 25px;

                .categories {
                }

                p {
                }
            }

        }
    }

}