/** ----------------------------------------
* News / Blog Single
* -------------------------------------- **/
// VARIABLES


/* -------------------------------------- **/

body.single-post {

    article.type-post {
        //margin-bottom: 50px;

        .entry-content {
            margin-bottom: 50px;

            .wp-post-image {
                &.featured-vertical {
                    float: left;
                    height: auto;
                    max-width: 47%;
                    margin: 15px 50px 50px 0;
                }

                &.featured-horizontal {
                    display: block;
                    height: auto;
                    margin: 15px auto 50px;
                    max-width: 100%;
                }
            }

            p {
                color: $brand-gray-medium;
                font-size: 20px;
                font-weight: 100;
            }

            p:first-of-type {
                @extend .lead;
                @extend .dropcap;

                font-weight: 100;

                em {
                    font-style: normal;
                }

                strong {
                    font-weight: 100;
                }
            }
        }

        header {
            margin: 0 0 50px 0;
            text-align: center;

            .meta {
                margin-bottom: 10px;
            }

            .meta,
            .meta a {
                color: $brand-primary;
                font-family: $font-family-serif;
                font-weight: 400;
            }


        }

        .share {
            font-family: $font-family-sans-serif;
            font-weight: 100;
        }

        .footer-share {
            .share {
                display: inline-block;
                font-size: 16px;
                margin-right: 35px;
            }

            > a {
                font-size: 16px;
                text-transform: uppercase;
            }
        }

    }

}


@media ( max-width: $screen-md-max ) {

}

@media ( max-width: $screen-sm-max ) {

    body.single-post {

    }

}

@media ( max-width: $screen-xs-max ) {


}