/** ----------------------------------------
* Testimonial Slider
* -------------------------------------- **/

// VARIABLES

/* -------------------------------------- **/

.testimonial-slider {
    text-align: center;
    margin: 20px auto;
    background: #eee;
    padding: 20px 0;

    h6 {
        font-size: 20px;
        color: #444;
    }

    blockquote {
        border: 0;

        p {
            font-style: italic;
        }
    }

    footer {
        font-size: 14px;
    }
}