/** ----------------------------------------
* Content
* -------------------------------------- **/

/* -------------------------------------- **/

.content {
	padding: 20px 0;

	.content-item {
		margin-bottom: 25px;
	}

}


.team-dsc-btn {
	font-size: 15px;
	margin: 0 0 25px 0;
}