// Base
// --------------------------------------------------

// Main
// --------------------------------------------------
.main {
    @include make-sm-column($grid-columns);
    .sidebar-primary & {
        @include make-sm-column($grid-columns - 4);
    }
}

// Sidebar
// --------------------------------------------------
.sidebar {
    @include make-sm-column(4);
}


// Comments
// --------------------------------------------------
.comment-list {
    @include list-unstyled;
}

.comment-list ol {
    list-style: none;
}

.comment-form p {
    @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    @extend .form-control;
}

.comment-form input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
}

// Comments
// --------------------------------------------------
.search-form {
    @extend .form-inline;
}
.search-form label {
    font-weight: normal;
    @extend .form-group;
}
.search-form .search-field {
    @extend .form-control;
}
.search-form .search-submit {
    @extend .btn;
    @extend .btn-default;
}

// ShareThis
// --------------------------------------------------
.st_sharethis_large .stLarge {
    background-image: none !important;
    color: $brand-primary;

    &:before {
        content: "\e05b";
        font-family: "simple-line-icons";
        font-size: 20px;
    }
}

.st_sharethis_large.text-gold .stLarge {
    color: $brand-gold;
}

.text-gold {
    color: $brand-gold;
}

.text-blue {
    color: $brand-primary;
}

.post-nav {
    text-align: center;

    .pagination {
        &>li {
            &>span, &>a {
                border: 0;
                border-right: 1px solid #DADADA;
                background-color: transparent;
                color: #949494;
                font-weight: normal;
                font-size: 14px;
                padding: 2px 16px;
            }
            &>a:hover {
                background-color: #00374D;
                color: #fff;
            }
        }
        &> li:first-child > a, &> li:first-child > span,
        &> li:last-child > a, &> li:last-child > span {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        &> li:last-child > a, &> li:last-child > span {
            border-right: 0;
        }
        &> .active > span {
            color: #00374D;
            &:hover {
                background-color: transparent;
                border-right: 1px solid #DADADA;
            }
        }
    }
}


// Text Styles
// used as class names in custom formats menu
// --------------------------------------------------
.font-weight-bold {
    font-weight: $font-weight-bold !important;
}

.font-weight-semibold {
    font-weight: $font-weight-semibold !important;
}

.font-weight-regular {
    font-weight: $font-weight-regular !important;
}


.component a {
    transition: color 0.5s ease;
}


#partner-table {
    margin-bottom: 75px;

    th {
        display: block;
        margin: 25px 0 5px 0;
    }
}

@media( max-width: $screen-sm-max ) {
    #partner-table {
        tr {
            display: block;
            margin-bottom: 20px;

            td {
                display: block;
                line-height: 1.65;
            }
        }
    }
}



.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

