.row-flex {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    margin-left:  ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    flex: 0;
    flex-wrap: wrap;

    &, > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    > div[class*='col-'] {
        flex: 0 0 auto;
        //margin: -.2px; /* hack adjust for wrapping */

        > div {
            width: 100%;
        }
    }
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}