/** ----------------------------------------
* Testimonial
* -------------------------------------- **/

// VARIABLES
//$testimonial-border:    $brand-gray-light;
$testimonial-border : rgba(221, 221, 221, 0.21);
$testimonial-color : #FFF;
/* -------------------------------------- **/

section.testimonial-grid {
    padding    : 50px 0;
    text-align : center;
    
    .flex-col .testimonial-wrapper {
        flex : 1 1 50%;
    }
    
    .testimonial-row-2col {
        
        > div[class*='col-'] {
            height : 605px;
        }
    }
    
    .testimonial-row-3col {
        
        > div[class*='col-'] {
            height : 435px;
        }
    }
    
    .testimonial-wrapper {
        padding             : 17px;
        position            : relative;
        background-position : center;
        background-repeat   : no-repeat;
        background-size     : cover;
        margin-bottom       : 35px;
        &.video {
            overflow : hidden;
            .testimonial-content {
                &:before {
                    content        : '';
                    display        : block;
                    width          : 100%;
                    height         : 0;
                    padding-bottom : 56.25%;
                }
            }
            video {
                position   : absolute;
                top        : 50%;
                left       : 50%;
                height     : auto;
                width      : auto;
                min-height : 100%;
                min-width  : 100%;
                z-index    : -1;
                transform  : translate(-50%, -50%);
            }
        }
    }
    
    .testimonial-content {
        border          : 1px solid $testimonial-border;
        font-family     : $font-family-serif;
        color           : $testimonial-color;
        height          : 100%;
        padding         : 40px 20px;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
    }
    
    .testimonial-inner {
    
    }
    
    img {
        display : none;
    }
    
    blockquote {
        border         : 0;
        font-size      : 20px;
        line-height    : 49px;
        letter-spacing : 0.4px;
        padding        : 0;
    }
    
    footer {
        font-size      : 14px;
        text-transform : uppercase;
        
        &:before {
            background : $testimonial-color;
            content    : ' ';
            display    : block;
            height     : 2px;
            margin     : $line-height-computed auto 8px;
            width      : 15px;
        }
    }
    
    @media(max-width : $screen-sm-max) {
        
        blockquote {
            line-height : 1.5;
        }
    }
    
    @media(max-width : $screen-ms-max) {
        
        .testimonial-row-2col {
            
            > div[class*='col-'] {
                height     : auto;
                min-height : 300px;
            }
        }
        
        .testimonial-row-3col {
            
            > div[class*='col-'] {
                height     : auto;
                min-height : 300px;
            }
        }
        
        // stacked blocks
        .flex-col .testimonial-wrapper {
            flex       : none;
            display    : block;
            min-height : 300px;
            
            .testimonial-content {
                min-height : 300px;
            }
        }
    }
    
    @media(max-width : $screen-xs-max) {
        // hide the 2nd row on smaller screens
        .testimonial-row-2 {
            display : none;
        }
    }
}