/** ----------------------------------------
* Call to Action
* -------------------------------------- **/
// VARIABLES
$cta-bg:        $brand-primary;
$cta-border:    #fff;
$cta-text:      #fff;

/* -------------------------------------- **/

section.cta {
    margin: 50px 0;
    color: $cta-text;

    .cta-inner {
        background: $cta-bg;
        padding: 18px;
    }

    .cta-border {
        border: 1px solid rgba( $cta-border, .21 );
        padding: 75px;

        @media( max-width: $screen-sm-max ) {
            padding: 50px;
        }

        @media( max-width: $screen-xs-max ) {
            padding: 25px;
        }
    }

    h2.subheading, a {
        color: $cta-text;
        font-weight: 300;
    }

    h2.subheading:after {
        background-color: $cta-text;
    }

    h2 + p {
        font-weight: 300;
        margin-top: 40px;
    }
}
