/** ----------------------------------------
* Recent Posts
* -------------------------------------- **/

/* -------------------------------------- **/

section.recent-posts {
    padding: 50px 0;

    .h2 {
        font-size: 12px;

        a {
            font-weight: 400;
        }
    }

    .recent-post {
        border: 1px solid $brand-gray-light;
        margin: 30px 0;
    }

    .post-thumbnail {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 300px;
        width: 100%;
    }

    .post-details {
        padding: 30px 30px 40px 30px;
    }

    .post-title {
        font-size: 23px;
        line-height: 36px;
        font-weight: $font-weight-light;
    }
}

@media ( max-width: $screen-ms-max ) {
    section.recent-posts {
        .post-thumbnail {
            height: 500px;
        }
    }
}

@media ( max-width: $screen-xs-max ) {
    section.recent-posts {
        .post-thumbnail {
            height: 300px;
        }
    }
}


