/** ----------------------------------------
* Featured Properties
* -------------------------------------- **/
// VARIABLES

/* -------------------------------------- **/

section.property-featured {
    margin: 50px auto;

    .row-flex {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;

        @media( max-width: $screen-xs-max ) {
            justify-content: center;
        }
    }

    .property {
        margin: 30px 0;
        max-width: 45%;
        flex: 1 0 0;

        @media (max-width: $screen-sm-min) {
            max-width: 360px;
            margin: 0 auto;
            flex: auto;
        }

        &.prop-large_4 {
            flex: auto;
        }

        &.prop-small {
            max-width: 30%;
        }

        &.center-last-odd {
            margin: 30px auto;
        }

        &:hover {

            .property-image {
                background-size: 101%;
            }
        }

        @media( max-width: $screen-xs-max ) {
            max-width: 100%;
        }
    }

    .property-image-effect {
        figure {
            overflow: hidden;
            position: relative;
            img {
                backface-visibility: hidden;
            }
            &:hover {
                &:after {
                    border-width: 10px;
                }
            }
            &:after {
                display: block;
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
                content: ' ';
                border: 1px solid rgba( $brand-gray-light, .43 );
                pointer-events: none;
                -webkit-transition: .75s ease-in-out;
                transition: .75s ease-in-out;
            }
        }
    }

    .btn {
        text-align: center;
    }
}