/** ----------------------------------------
* Page Intro
* -------------------------------------- **/
// VARIABLES

/* -------------------------------------- **/

.page-intro {

  padding: 30px 0 60px;

  &.component-builder-1 {
    //margin: 110px 0 80px;
  }
}


.single-property {

  .page-intro {

    .heading {
      font-size: 24px;
    }

    &.component-builder-1 {
      margin: 35px 0 0px;
      padding-bottom: 0;

      & + .image-slider {

      }
    }
  }

}

@media( max-width: $grid-float-breakpoint-max ) {

  .page-intro {
    padding: 30px 0;
  }

}