/* Shortcode Helper / Shortcake */

/* nicer back button in shortcode modal */
.media-frame .edit-shortcode-form-cancel {
	color: #555555;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: 0 1px 0 #cccccc;
	box-shadow: 0 1px 0 #cccccc;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.media-frame .edit-shortcode-form-cancel:hover {
	color: #555555;
}

/* TinyMCE Cleanup */
.post-php .tinymce-statusbar {
	display: none;
}

.media-modal-content .shortcode-ui-content .media-toolbar-primary.search-form {
	width: 100%;
}

/* Shortcake Styles */
.media-frame .shortcode-ui-content-insert input[type="text"],
.media-frame .shortcode-ui-content-insert input[type="password"],
.media-frame .shortcode-ui-content-insert input[type="number"],
.media-frame .shortcode-ui-content-insert input[type="search"],
.media-frame .shortcode-ui-content-insert input[type="email"],
.media-frame .shortcode-ui-content-insert input[type="url"],
.media-frame .shortcode-ui-content-insert textarea,
.media-frame .shortcode-ui-content-insert select {
	width: 100%;
}

.edit-shortcode-form-fields .notice,
.edit-shortcode-form-fields div.updated,
.edit-shortcode-form-fields div.error {
	margin-left: 0;
}
