.acf-tab-group li a[data-key*="advancedtab"] {
	color: #f1f1f1;
	position: relative;
	overflow: hidden;
	width: 20px;
}

.acf-tab-group li a[data-key*="advancedtab"]:before {
	content: "\f085";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #00a0d2;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 18px;
}

.shortcake-add-post-element .dashicons:before {
	position: relative;
	top: -2px;
}
