/** ----------------------------------------
* Testimonial
* -------------------------------------- **/

// VARIABLES
$testimonial-bg:        #F5F5F5;
$testimonial-border:    $brand-gray-light;
$testimonial-color:     $brand-gray-dark;
/* -------------------------------------- **/

.testimonial {
    padding: 50px 0;
    text-align: center;

    .testimonial-wrapper {
        padding: 17px;
        background: $testimonial-bg;
    }

    .testimonial-content {
        border: 1px solid $testimonial-border;
        padding: 72px 100px 65px;
        font-family: $font-family-serif;
        color: $testimonial-color;

        p {
            font-weight: 300;
        }
    }

    blockquote {
        border: 0;
        font-size: 28px;
        line-height: 2.11;
        letter-spacing: 0.4px;
        padding: 0;
    }

    footer {
        font-size: 14px;
        text-transform: uppercase;

        &:before {
            background: $testimonial-color;
            content: ' ';
            display: block;
            height: 2px;
            margin: $line-height-computed auto 8px;
            width: 15px;
        }
    }

    @media( max-width: $screen-xs-max ) {
        .testimonial-content {
            padding: 40px 20px;
        }

        blockquote {
            font-size: 22px;
        }
    }
}