/** ----------------------------------------
* Content 1 Column w Background
* -------------------------------------- **/
// VARIABLES

$content-min-height:    504px;
/* -------------------------------------- **/

section.content-1col-bg {
    padding: 50px 0;

    .row-flex > div[class*='col-'] {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .component-bg {
        @include bg-inline-cover( cover, center center)
    }

    .content-wrapper {
        background: #fff;
        min-height: 504px;
        padding: 10px;
        margin: 80px 0;
    }

    .content-inner {
        border: 1px solid $brand-gray-light;
        padding: 40px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media( max-width: $screen-ms-max ) {
        .component-bg {
            @include bg-inline-cover( 175%, top center)
        }
        .content-wrapper {
            margin: 65% 0 0;
        }
    }
}